.display {
  position: relative;
}

.display span {
  font-size: 1.4rem;
  position: absolute;
  top: 1rem;
  left: 1rem;

}

.display input {
  border: none;
  outline: none;
  border-radius: 1rem;
  font-size: 3.8rem;
  width: 100%;
  font-family: 'League Spartan', sans-serif;
  padding: 2.5rem;
  text-align: right;
}