@import url('buttons.css');
@import url('theme2.css');
@import url('theme1.css');
@import url('header.css');
@import url('wrapper.css');

:root {
  /* backgrounds */

  --main-background: hsl(222, 26%, 31%);
  --screen-background: hsl(224, 36%, 15%);
  --toggle-background: hsl(223, 31%, 20%);

  /* keys */
  --key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);

  --key-background-toggle: hsl(6, 63%, 50%);
  --key-shadow-red: hsl(6, 70%, 34%);

  --key-background-orange: hsl(30, 25%, 89%);
  --key-shadow-orange: hsl(28, 16%, 65%);


  /* text */

  --text-white: hsl(0, 0%, 100%);
  --text-grayish-blue: hsl(221, 14%, 31%);
}

html {
  font-family: 'League Spartan', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--main-background);
  color: var(--text-white);
  padding: 0;
  margin: 0;
}

ul{
  margin: 0;
  gap: 1.5rem;
}

h1 {
  color: var(--text-white);
  font-size: 3rem;
}

.debugger {
  border: 1px solid red;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li{
  list-style: none;
}

.gap-1 {
  gap: 1rem;
}