@import url('header.css');
@import url('wrapper.css');
@import url('display.css');
@import url('numerical-board.css');

html {
  font-family: 'League Spartan', sans-serif;
  font-size: 62.5%;
}

button {
  font-family: 'League Spartan', sans-serif;
  outline: none;
  border: none;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

ul{
  margin: 0;
  gap: 1.5rem;
}

h1 {
  font-size: 3rem;
}

.debugger {
  border: 1px solid red;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li{
  list-style: none;
}

.gap-1 {
  gap: 1rem;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  padding-block: 4rem; 
}
