.numerical-board {
  margin-block: 2rem;
  border-radius: 1rem;
  padding: 2rem;
}

.numerical-board div {
  display: grid;
  grid-gap: 1.2rem;
  padding: 0;
  grid-template-columns: repeat(
    auto-fit,
    minmax(57px,1fr)
  );
}

.numerical-board div button {
  font-size: 3.2rem;
  border-radius: 1rem;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numerical-board div button.reset,
.numerical-board div button.delete {
  font-size: 2rem;
}

.reset,
.equal {
  grid-area: 5 / span 2;
}

@media only screen and (min-width: 450px) {
  .numerical-board div {
    grid-template-columns: repeat( auto-fit, minmax(7rem,1fr) );
  }
}

@media only screen and (min-width: 515px) {
  .numerical-board div {
    grid-template-columns: repeat( auto-fit, minmax(9rem,1fr) );
  }
}