:root {
  /* backgrounds */

  --main-background: hsl(268, 75%, 9%);
  --screen-background: hsl(268, 71%, 12%);
  --toggle-background: hsl(268, 71%, 12%);

  /* keys */
  --key-background-r-d: hsl(281, 89%, 26%);
  --key-shadow-r-d: hsl(285, 91%, 52%);

  --key-background-toggle: hsl(176, 100%, 44%);
  --key-shadow-equal: hsl(177, 92%, 70%);

  --key-background-number: hsl(268, 47%, 21%);
  --key-shadow-number: hsl(290, 70%, 36%);


  /* text */

  --text-white: hsl(0, 0%, 100%);
  --text-number: hsl(52, 100%, 62%);
  --text-dark-blue: hsl(198, 20%, 13%);
}

body{
  background-color: var(--main-background);
  color: var(--text-number);
}

h1,a {
  color: var(--text-number);
}

.display {
  position: relative;
}

.display span {
  color: var(--key-background-r-d);
}

.display input {
  background-color: var(--screen-background);
  color: var(--text-number);
}

.numerical-board {
  background-color: var(--toggle-background);
}

.numerical-board div button {
  background-color: var(--key-background-number);
  color: var(--text-number);
  box-shadow: inset 0px -5px var(--key-shadow-number);
}

.numerical-board div button.reset,
.numerical-board div button.delete {
  background-color: var(--key-background-r-d);
  box-shadow: inset 0px -5px var(--key-shadow-r-d);
  color: var(--text-white);
}

.numerical-board div button.equal {
  background-color: var(--key-background-toggle);
  color: var(--text-white);
  box-shadow: inset 0px -5px var(--key-shadow-equal);
}

.switch-toggle {
  background-color: var(--toggle-background);
}

.switch {
  background-color: var(--key-background-toggle);
}
